.tuan-form {
	display: flex;
	padding: 30px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 #000;
	font-size: 1rem;
}

.tuan-form__left-container {
	margin-right: 30px;
	width: 200px;
}

.tuan-form__step {
	display: flex;
    background: transparent;
    border: none;
    outline: none;
	cursor: pointer;
	align-items: center;
	font-size: inherit;
}

.tuan-form__text-step {
	color: #706e6e;
}

.tuan-form__step:not(:last-child) {
	margin-bottom: 15px;
}

.tuan-form__index-step, 
.tuan-form__text-step {
	pointer-events: none;
}

.tuan-form__index-step {
	background: rgb(240 240 240);
	margin-right: 15px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 50%;
	padding: 3px;
}

.tuan-form__step--checked .tuan-form__index-step {
	background: #2574AF;
	color: #fff;
}

.tuan-form__step--checked .tuan-form__text-step,
.tuan-form__step:hover .tuan-form__text-step {
	color: #000;
	transition: color 0.2s;
}

.tuan-form__right-container {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.tuan-form__content {
	margin-bottom: 15px;
}

.tuan-form__footer > * {
	background: #eeeaea;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	margin-right: 10px;
}

.tuan-form__footer > *:hover {
	background: #ccc;
	transition: background 0.2s;
}